/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --check-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)
  --todo-color: hsl(0, 0%, 98%);

  /* HSL color mode */
  --light-color:hsl(0, 0%, 98%);
  --title-color: hsl(0, 8%, 15%);
  --text-color: hsl(233, 14%, 35%);
  --text-color-light: hsl(234, 39%, 85%);
  --body-color: hsl(233, 11%, 84%);
  --scroll-bar-color: hsl(250, 12%, 90%);
  --scroll-thumb-color: hsl(250, 12%, 80%);
  /*========== Font and typography ==========*/
  --body-font: 'Josefin Sans', sans-serif;

}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

/*==================== Header ====================*/
.background_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 320px;
  z-index: -1;
}
.background_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*==================== Container ====================*/

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 30px;
  margin-top: 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
}
.new_todo {
  width: 100%;
  height: 70px;
  background-color: var(--light-color);
  margin-top: 50px;
  border-radius: 6px;
  display: flex;
}
.theme_toggle{
  height: 2rem;
  width: 2rem;
  color: #ffffff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.check{
  flex-basis: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;
}

.check_mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check_mark img {
  visibility: hidden;
}

.check_mark.checked img, .check_mark:hover img {
  visibility: visible;
}

.check_mark:hover {
  border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

.check_mark.checked {
  background-color: pink;
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

.todo_text.checked {
  text-decoration: line-through;
  color: var(--text-color-light);
}

.new_todo_input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.new_todo_input input {
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  margin-left: 1.5rem;
}

.new_todo_input form {
  flex-grow: 1;
  display: flex;
}

.new_todo_input input::placeholder {
  color: hsl(233, 14%, 35%);
  font-family: var(--body-font);
}

.todo_text {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--text-color);
  flex: 0.8;
}

.todo_item {
  width: 100%;
  height: 70px;
  background-color: var(--light-color);
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  cursor: pointer;
  transition: all .25s ease;
  transition-property: box-shadow, transform, border-color;
}

.todo_items_wrapper {
  margin-top: 30px;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--light-color);
  box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
  margin-bottom: 30px;
}

.todo_items_info {
  width: 100%;
  height: 70px;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  color: hsl(233, 14%, 35%);
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.items_statuses {
  display: flex;
  justify-content: center;
}

.items_statuses span  {
  padding: 0 4px;
  cursor: pointer;
}

.items_clear {
  cursor: pointer;
  text-align: end;
}

.items_statuses span:hover, .items_clear:hover {
  color: hsl(220, 98%, 61%);
}

.items_statuses .active  {
  color: hsl(220, 98%, 61%);
}

.todo_item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
  border-color: hsl(235, 24%, 19%);
}
.todo_icons{
  font-size: x-large;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
}
.s_check{
  margin-left: 1rem;
}
/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*==================== Modal Style ====================*/
.modal_overlay {
  position: fixed;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal_content {
  margin: 15% auto;
  background-color: var(--body-color);
  border-radius: 0.25rem;
  width: 50vw;
  padding: 2rem;
  position: relative;
  border: 1.2px solid white;
  color: var(--text-color);
}
.modal_close {
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0.3rem;
  background: rgb(254, 109, 63);
  background: linear-gradient(
    90deg,
    rgba(254, 109, 63, 1) 0%,
    rgba(254, 31, 141, 1) 39%,
    rgba(219, 40, 174, 1) 92%
  );
  right: 0.5rem;
  border-radius: 20%;
}
.modal_heading{
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: space-around;
}
.modal_inp{
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  margin-left: 1.5rem;

}
.modal_inner{
  display: flex;
  flex-direction: column;
}
.clear_subitems{
  margin-top: 2rem;
  margin-left: 15rem;
  margin-right: 16rem;
  cursor: pointer;
}
.clear_subitems:hover{
  color: #55DDFF;
}
.edit_inp{
  width: 20rem;
  border-radius: 0.5rem;
  padding: 10px 0px;
  font-size: 18px;
  background-color: #b3f0ff;
  border: none;
  outline: none;
  color: var(--text-color);
  margin-left: 1.5rem;
  display: none;
}